
body {
    background-color: #ffffff;
}

p.hello {
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 26px;
}
p.find {
    font-family: "Verdana";
    text-align: center;
    font-size: 26px;
}
p.mail {
    font-family: "Verdana";
    text-align: center;
    font-size: 32px;
}

.places {
    font-family: "Verdana";
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}
.places a {
    text-align: center;
    letter-spacing: 12px;
    text-decoration: none;
}
.places img {
    width: 50px;
    height: 50px;
}



