
body {
    background-color: #000000;
}

p.hello {
    font-family: "Chalkboard";
    color: #f92672;
    text-align: center;
    font-size: 42px;
}
p.find {
    font-family: "Chalkboard";
    color: #66d9ef;
    text-align: center;
    font-size: 38px;
}
p.mail {
    font-family: "Chalkboard";
    color: #87ff00;
    text-align: center;
    font-size: 36px;
}

.places {
    font-family: "Chalkboard";
    font-size: 28px;
    color: #ff8700;
    text-align: center;
    text-decoration: none;
}
.places a {
    font-family: "Chalkboard";
    font-size: 28px;
    color: #ff8700;
    text-align: center;
    text-decoration: none;
}
